<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Single</title>
  </head>
  <body>
    <h1>Details</h1>
    <div>
      <% users.forEach(function(image) { %>
      <div>
          <div>
              <img src="data:image/<%=image.img.contentType%>;base64,
                   <%=image.img.data.toString('base64')%>">
              <div>
                  <p><%= image.name %><br>
                    <%= image.email %><br>
                    <%= image.ticket %><br>
                    <%= image.Regtype %><br>
                    <%= image.phone %><br>
                  </p>
              </div>
          </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
